@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Qwitcher+Grypen:wght@700&display=swap");

:root {
  --bg-color: #f7efeb;
  --border-color: #c8c8c8;
  --txt-color: #3c3b3b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

/* General Styles */
.btn {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  color: inherit;
  background-color: var(--bg-color);
}
.btn.btn-add {
  background-color: green;
  color: #fff;
}

.container {
  width: 60%;
  margin: 1rem auto;
}

/* Nav Menu */
.navbar {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--txt-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}

.burger-icon {
  cursor: pointer;
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-around;
  width: 25px;
}

.burger-icon .line {
  background-color: #3c3b3b;
  height: 1px;
  transition: transform 0.5s;
}

.burger-icon.open .line-1 {
  transform-origin: left;
  transform: rotate(45deg);
}

.burger-icon.open .line-2 {
  width: 0;
}

.burger-icon.open .line-3 {
  transform-origin: left;
  transform: rotate(-45deg);
}

.logo {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 42px;
}

.menu {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu .menu-item {
  line-height: 1.4;
  margin: 0 1rem;
}

.nav-menu .menu-item:hover .menu-link {
  border-bottom: 1px solid var(--border-color);
}

.profile-menu {
  gap: 15px;
}

.menu-item .icon {
  height: 20px;
}

.menu-link {
  color: inherit;
  font-size: 14px;
  padding-bottom: 3px;
  text-decoration: none;
  text-transform: capitalize;
}

@media screen and (max-width: 990px) {
  .logo {
    padding-left: 50px;
  }

  .burger-icon {
    display: flex;
  }

  .nav-menu {
    align-items: flex-start;
    background-color: var(--bg-color);
    flex-direction: column;
    height: 89vh;
    left: 0;
    position: absolute;
    top: 78px;
    transform: translateX(-100%);
    transition: transform 0.5s;
    width: 50%;
  }

  .nav-menu.open {
    transform: translateX(0);
  }

  .nav-menu .menu-item {
    padding: 20px;
  }
}
@media screen and (max-width: 750px) {
  .nav-menu {
    width: 100%;
  }
}

/* Hero section */
.hero {
  position: relative;
  height: 600px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
}

.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .title {
  margin: 0;
  color: #fff;
  font-size: 3.5rem;
}

.hero .btn {
  margin-top: 3rem;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

/* Products */
#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.products {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 1.5rem;
}

.product-img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}

.product-img.hover {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

.product-img.hover:hover {
  opacity: 1;
}

.product-title {
  text-transform: capitalize;
  margin-top: 0.5rem;
  color: var(--txt-color);
}

.product-price {
  margin: 10px;
  color: green;
}

/* Product Single Page */
.container.product-page {
  display: flex;
  align-items: center;
}

.product-page img {
  border: 1px solid #bebebe;
  margin: 1rem;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.product-desc {
  display: flex;
  flex-direction: column;
}

.product-desc h1 {
  margin: 0;
}

.product-desc p {
  margin-bottom: 0;
}

.product-desc span {
  padding: 15px;
}

/* Footer */
.footer {
  background-color: var(--bg-color);
  margin-top: 2rem;
}

.footer__blocks-wrapper {
  display: flex;
  gap: 4rem;
  padding: 4rem;
  justify-content: center;
  color: var(--txt-color);
  font-weight: 300;
}

.footer__list-social {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 4rem;
}

.footer .icon {
  height: 20px;
}

.footer__content-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-top: 1px solid var(--border-color);
}

.footer-block__list {
  font-size: 14px;
}

.footer-block__list li {
  padding: 5px 0;
}

.list {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.copyright__content {
  color: var(--txt-color);
  font-size: 12px;
}
