@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Qwitcher+Grypen:wght@700&display=swap");

:root {
  --bg-color: #f7efeb;
  --border-color: #434040;
  --txt-color: #3c3b3b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

/* nav menu */
.navbar {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--txt-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}

.burger-icon {
  cursor: pointer;
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-around;
  width: 25px;
}

.burger-icon .line {
  background-color: #3c3b3b;
  height: 1px;
  transition: transform 0.5s;
}

.burger-icon.open .line-1 {
  transform-origin: left;
  transform: rotate(45deg);
}

.burger-icon.open .line-2 {
  width: 0;
}

.burger-icon.open .line-3 {
  transform-origin: left;
  transform: rotate(-45deg);
}

.logo {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 42px;
}

.menu {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu .menu-item {
  line-height: 1.4;
  margin: 0 1rem;
}

.nav-menu .menu-item:hover .menu-link {
  border-bottom: 1px solid var(--border-color);
}

.profile-menu {
  gap: 15px;
}

.menu-item .icon {
  height: 20px;
}

.menu-link {
  color: inherit;
  font-size: 14px;
  padding-bottom: 3px;
  text-decoration: none;
  text-transform: capitalize;
}

@media screen and (max-width: 990px) {
  .logo {
    padding-left: 50px;
  }

  .burger-icon {
    display: flex;
  }

  .nav-menu {
    align-items: flex-start;
    background-color: var(--bg-color);
    flex-direction: column;
    height: 89vh;
    left: 0;
    position: absolute;
    top: 78px;
    transform: translateX(-100%);
    transition: transform 0.5s;
    width: 50%;
  }

  .nav-menu.open {
    transform: translateX(0);
  }

  .nav-menu .menu-item {
    padding: 20px;
  }
}
@media screen and (max-width: 750px) {
  .nav-menu {
    width: 100%;
  }
}
